@import "../../styles/mixin";

.btn {
    @include font("Core Sans D 35 Regular", normal, 400, 16px, 1, 0, #000000);
    text-decoration: underline;
    background: none;
    border: none;
    margin-right: auto;
}

@media all and (max-width: 768px) {
    .btn {
        margin: auto;
    }
}
